<<<<<<< HEAD
<table class="signin_container">

  <div class="authentications_header">
    Type in some info and join us on truthpage.me
  </div>

  <td class="signin_left">
=======
<div class="signin_container">

    <div class="signin_page_header">
      header for the signin page
    </div>
  
  <div class="signin_left">
>>>>>>> 3c8ece81f5f275968a5148e84366261d3d54ef6a
    <div class="signin_header">
      Sign in
    </div>

    <div class="signin_facebook">
        <%= render :partial=>"authentications/services" %>
    </div>

    <div class="signin_or"></div>

      <%= form_tag sessions_path do %>
        <div class="signin_field">
          <div class="formlabel">Username / Email</div>
          <%= text_field_tag :login, params[:login], :class => "formfield" %>
        </div>

        <div class="signin_field">
          <div class="formlabel">Password</div>
          <%= password_field_tag :password, "", :class => "formfield" %>
        </div>

        <%= link_to "Forgot your Password?", assist_url, :id=>"forgot-password", :class =>"signin_forgotpw" %> 
          <br/>

        <div class="signin_button_placement">
          <%= submit_tag "Sign in", :class=>'signin_button' %>
        </div>
      <% end %>
    </td>
    <td class="signin_right">
      <div class="signup_header">
        Sign up
      </div>
<<<<<<< HEAD
        <%= render :partial=>"form" %>
    </td>
</table>
=======
    <% end %>
  </div>
  <div class="signin_right">
    <div class="signup_header">
      Sign up
    </div>
    <%= render :partial=>"form" %>
  </div>
</div>
>>>>>>> 3c8ece81f5f275968a5148e84366261d3d54ef6a

