<div class="signin_container">

    <div class="signin_page_header">
      header for the signin page
    </div>
  
  <div class="signin_left">
    <div class="signin_header">
      Sign in
    </div>
    <div class="signin_facebook">
      <%= render :partial=>"authentications/services" %>
    </div>
    <div class="signin_or">
      or
    </div>
    <%= form_tag sessions_path do %>
      <div class="signin_field">
        <div class="formlabel">Username / Email</div>
        <%= text_field_tag :login, params[:login], :class => "formfield" %>
      </div>
      <div class="signin_field">
        <div class="formlabel">Password</div>
        <%= password_field_tag :password, "", :class => "formfield" %>
      </div>
      <%= link_to "Forgot your Password?", assist_url, :id=>"forgot-password", :class =>"signin_forgotpw" %> 
        <br/>
      <div class="signin_button_placement">
        <%= submit_tag "Sign in", :class=>'signin_button' %>
      </div>
    <% end %>
  </div>
  <div class="signin_right">
    <div class="signup_header">
      Sign up
    </div>
    <%= render :partial=>"form" %>
  </div>
</div>

