<table class="signin_container">
  <td class="signin_left">
    <div class="signin_header">
      Sign in
    </div>
    <div class="signin_facebook">
      <%= render :partial=>"authentications/services" %>
    </div>
    <div class="signin_or">
      or
    </div>
    <%= form_tag sessions_path do %>
      <div class="signin_field">
        <div class="formlabel">Username / Email</div>
        <%= text_field_tag :login, params[:login], :class => "formfield" %>
      </div>
      <div class="signin_field">
        <div class="formlabel">Password</div>
        <%= password_field_tag :password, "", :class => "formfield" %>
      </div>
      <%= link_to "Forgot your Password?", assist_url, :id=>"forgot-password", :class =>"signin_forgotpw" %> 
        <br/>
      <div class="signin_button_placement">
        <%= submit_tag "Sign in", :class=>'signin_button' %>
      </div>
    <% end %>
  </td>
  <td class="signin_right">
  <div class="signup_header">
    Sign up
  </div>
    <%= render :partial=>"form" %>
  </td>
</table>



<strong>
    Don&rsquo;t use Facebook?
  </strong>
  <%= link_to "Create a truthpage.me account", signup_path %> or login below.