<div class="micropost-comment">
	<div class="comment-avatar"><%= render_user_avatar(comment.user, :tiny) %></div>
	<div class="comment-user"><%= link_to comment.user.username, comment.user %></div>
  <div class="comment-content"><%= comment.post_comment %></div>
  <div class="comment-timestamp"><%= time_ago_in_words(comment.created_at) %> ago</div>
  <% if current_user == comment.user %>
		<%= link_to "delete", { :controller => 'comments', :action => "destroy", :id => comment.id }, :method => :delete, :class=>"comment_delete" %>
  <% end %>
</div>

