<div>
  <div class="notification">
		<% if notification.try(:read?) %>
		<% else%>
		 	<div class="notification_type"> 
		 		<% if notification.try(:noname?)%>
		 			<%= link_to "Someone", current_user.username %> <%= notification.format %>
		 		<% else %>
    			<%= link_to notification.sender.username, current_user.username %> <%= notification.format %>
    		<% end %>
    	</div>
    	<div class="notification_time">
				<%= time_ago_in_words(notification.created_at) %> ago.
			</div>
		<% end %>
  		<%= button_to "", { :controller => 'notifications', :action => "destroy", :id => notification.id }, :method => :delete, :class => "notification_delete" %>
	</div>
</div>