<%= form_for @user, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="settings_fields">
    <%= f.label "username" %><br />
    <%= f.text_field :username, :class =>"formfield" %>

  </div>
  <div class="settings_fields">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class =>"formfield" %>
  </div>
   </p>
  <div class="settings_fields">
	<%= f.label "change profile picture" %><br />
	<%= f.file_field :photo %>
  </div>
  <div class="save_button">
    <%= f.submit '', :class => "savesettings"%>
  </div>
<% end %>