<%= form_for @user, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="settings_fields">
    <%= f.label "username" %><br />
    <%= f.text_field :username, :class =>"formfield" %>

  </div>
  <div class="settings_fields">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, :class =>"formfield" %>
  </div>  

	<%= show_simple_captcha :label => "(human authentication)" %>
  <div class="save_button">
    <%= f.submit 'signup'%>
  </div>
<% end %>