<%= form_for @user, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="settings_fields">
    <%= f.label :name %><br />
    <%= f.text_field :username, :class =>"formfield" %>

  </div>
  <div class="settings_fields">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <%= f.label :password %><br />
    <%= f.password_field :password, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, :class =>"formfield" %>
  </div>  
  <div class="change_pic">
    Change profile picture:<br />
  <%= f.file_field :photo %>
  </div>
  <br />

  <div class="save_button">
    <%= f.submit '', :class => 'savesettings'%>
  </div>
<% end %>