
<table>
<div class="settings_container">
<div class="settings_header">Settings</div>
<%= form_for @user, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div class="settings_fields">
    <div class="formlabel"> Username </div>
    <%= f.text_field :username, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <div class="formlabel"> Email </div>
    <%= f.text_field :email, :class =>"formfield" %>
  </div>
  <div class="settings_mail">
    <%= f.check_box :mail_subscription, {}, true, false %>
    <%= f.label "Email notifications"%>
  </div>
  <div class="photo_container">
    <div class="settings_photo">
		  <%= render_user_avatar(current_user, :small) %>
	  </div>
    <div class="change_avatar">
	  <div class="formlabel"> Change your picture </div>
	    <%= f.file_field :photo %>
    </div>
    <%= image_tag current_user.background.url(:small) %>
    <div class="formlabel"> Change your background </div>
      <%= f.file_field :background %>
    </div>
  </div>
  <div class="settings_fields" >
    <div class="formlabel"> Edit Blurb </div>
	 <%= f.text_area :blurb, :maxlength=>"180", :class=>"settings_blurb" %>
  </div>
  <div class="save_button">
    <%= f.submit 'Save', :class => "savesettings"%>
  </div>
<% end %>
</div>
<div class="settings_container">
<%= form_for @user, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
 
  <div class="settings_fields">
    <div class="formlabel"> New Password </div>
    <%= f.password_field :password, :class =>"formfield" %>
  </div>
  <div class="settings_fields">
    <div class="formlabel"> New Password Confirmation </div>
    <%= f.password_field :password_confirmation, :class =>"formfield" %>
  </div>
  <div class="save_button">
    <%= f.submit 'Save', :class => "savesettings"%>
  </div>
<% end %>
</div>
</table>