<div class="profile_name"><%= @user.name %></div><div class="profile_email">(<%= @user.email %>)</div>


<table class="profile" summary="Profile information">
  <tr>
    <td class="main">

	<%= render 'shared/micropost_form' %>
	
	
	        <table class="microposts" summary="User microposts">
	          <%= render @microposts %>
	        </table>
	      
	      
	    </td>
	    <td class="sidebar round">
	    <div class="profile_gravatar"><%= gravatar_for @user, :size => 160 %></div>  
		<%= render 'follow_form' if signed_in?%>
	      <strong></strong> truthpage.me<%= link_to user_path(@user), @user %><br />
	      <strong>Truths shared:</strong> <%= @user.microposts.count %>
	
	    </td>
	  </tr>
	</table>