<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#counter').jqEasyCounter({
		'maxChars': 250,
	    'maxCharsWarning': 220,
	    'msgFontSize': '15px',
	    'msgFontColor': 'gray',
	    'msgFontFamily': 'helvetica',
	    'msgTextAlign': 'left',
	    'msgWarningColor': '#000',
	    'msgAppendMethod': 'insertAfter'
      });
  });
</script>
<% end %>
<div class="profile_gravatar">	
	
</div>
<div class="name_container">
	<div class="profile_name"> <%= @user.username %> </div>
	<%= @user.blurb %>
	<%= render_user_avatar(@user, :small) %>
</div>
<% if current_user %>
<div class="profile_follow"><%= render_follow_links(@user) %></div>
<% end %>


<strong>Truths shared:</strong> <%= @user.microposts.count %>
<%= render 'shared/stats' %>
<%= render 'microposts/form' %>
<table class="microposts" summary="User microposts">
	<%= render @microposts  %>
</table>
<%= will_paginate @microposts %>