<script type="text/javascript">
  $(function(){
    $('#counter').jqEasyCounter({
		'maxChars': 300,
	    'maxCharsWarning': 270,
	    'msgFontSize': '15px',
	    'msgFontColor': '#006699',
	    'msgFontFamily': 'helvetica',
	    'msgTextAlign': 'left',
	    'msgWarningColor': '#000',
	    'msgAppendMethod': 'insertAfter'
      });
  });
</script>

<div class="profile_name">
	<%= @user.username %>
</div>
<div class="profile_email">
	(<%= @user.email %>)
</div>


<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<% if current_user %>
			<%= render 'microposts/form' %>
			<% end %>
			<table class="microposts" summary="User microposts">
				<%= render @microposts %>
			</table>
		</td>
		<td class="sidebar round">
			<div class="profile_gravatar">	
				<%= render_user_avatar(@user, :small) %>
			</div>  
			<%= render 'shared/stats' %>
			<strong>Truths shared:</strong> <%= @user.microposts.count %>
		</td>
	</tr>
</table>
<%= will_paginate @microposts %>