<table summary="following/followers">
  <tr>
    <td class="main">
    <div class="dashfeed_header">  
	<strong><%= @user.username %></strong><%= @title %>
      </div>
      <% unless @users.empty? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Truths shared:</strong> <%= @user.microposts.count %> <br/>
	      <%= link_to "Find friends", "/users?utf8=✓&search=" , :class =>"headerlink"%> <p/>
      <%= render 'shared/stats' %>
      <% unless @users.empty? %>
        <% @users.each do |user| %>
		      <%= render_user_avatar(user, :thumb) %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
