<div class="profile_name">
	<%= @user.username %>
</div>
<div class="profile_email">
	(<%= @user.email %>)
</div>

<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<%= render 'microposts/form' %>
			<table class="microposts" summary="User microposts">
				<%= render @microposts %>
			</table>
		</td>
		<td class="sidebar round">
			<div class="profile_gravatar">	
				<%= render_user_avatar(@user, :small) %>
			</div>  
			<%= render 'shared/stats' %>
			<strong>Truths shared:</strong> <%= @user.microposts.count %>
		</td>
	</tr>
</table>