<%= content_for :head do %>
 <script type="text/javascript">
 var pageCount = 1;

  $(function(){
    $('#truth_form').jqEasyCounter({
		'maxChars': 180,
	    'maxCharsWarning': 165,
	    'msgFontSize': '15px',
	    'msgFontColor': '#005588',
	    'msgFontFamily': 'arial',
	    'msgTextAlign': 'left',
	    'msgWarningColor': 'red',
	    'msgAppendMethod': 'insertAfter'
    });

    $('textarea#truth_form').click(function () {
    	$(this).animate({ height: "80px" }, 200);
		});
  	
    $("#authenticate").click(function(){
      $.post('/microposts/create_pending', $("#new_micropost").serialize());
      return false;
    });

    $("#authenticate").fancybox({
      'transitionIn'    :    'elastic',
      'transitionOut'    :    'elastic',
      'speedIn'        :    400,
      'speedOut'        :    200,
      'overlayShow'    :    true
    });

    $(".post_comments").hide();
    	$(".microposts").delegate(".open_comments", "click", function(e){
	      $(this).next(".post_comments").slideToggle(300);
       e.preventDefault();
     });

    $('#pages_loading').hide();
    	$("#load-more").click(function(e){
    	$('#pages_loading').show();
      $.get(this.href, {page:pageCount+=1}, function(data) {
        var rows = $(data).find("#posts_table tr");
          $('#posts_table').append(rows);
          $(".post_comments").hide();
          $('#pages_loading').hide();
        });
      e.preventDefault();
    }); 

		$('#loading-animation').hide();
			$("#load_animate").click(function(){
      $('#loading-animation').show();
    });      
  });
</script>	 
<% end %>


<table class="profile_container" cellspacing="0">
	<td class="name_container">
		<div class="profile_name"> 
			<%= @user.username %> 
		</div>
		<div class="profile_stats">
			路 <%= pluralize(@microposts.count, "Truth") %>
		</div>
		<div class="profile_stats">
			路 <%= pluralize(@user.followers.count, "Follower") %> 
		</div>
		<div class="profile_avatar"> 
			<%= render_profile_pic(@user, :medium) %>	
		</div>
		<% if (@user == current_user) && (@user.blurb.blank?) %>
		<div class="profile_blurb"> 
			<%= link_to "Click here", edit_user_path(current_user) %> to add a profile blurb
		</div>
		<% else %>
		<div class="profile_blurb"> 
			<%= @user.blurb %> 
		</div>
		<% end %>
		<div class="profile_buttons">
		<% if current_user %>
			<% unless @user == current_user %>
				<%= render_follow_links(@user) %>
					<br/>
				<%= render 'notifications/new_notification' %>
					<p/>
			<% end %>
		<% end %>
		</div>
		<%= render 'shared/top_truth_feed' %>
		<div class="profile_side">
			<div class="profile_following-h">
				Following 路 <%= @user.following.count %>
			</div>
			<div class="profile_following">
 				<% unless @following.empty? %>
    			<% @following.each do |user| %>
	  				<div class="followings_avatar"><%= link_to render_follow_avatar(user, :tiny), user %></div>
	  				<div class="followings_username">
	  					<%= link_to user.username, user, :class => 'followlist_name', :style=>"color:#56A8CE;" %>
	  				</div> 
    			<% end %>
  			<% end %>
			</div>

			<div class="profile_following-h">
				Followers 路 <%= @user.followers.count %>
			</div>
			<div class="profile_followers">
				<% unless @followers.empty? %>
    			<% @followers.each do |user| %>
	   				<div class="followings_avatar"><%= link_to render_follow_avatar(user, :tiny), user %></div>
	   				<div class="followings_username">
	   					<%= link_to user.username, user, :class => 'followlist_name', :style=>"color:#56A8CE;" %>
	   				</div>
    			<% end %>
  			<% end %>
			</div>
		</div>
	</td>

	<td class="right_container">	
		<div class="newpost_container">
			<% if @user == current_user %>
				<div class="profile_feed_header">
					Truths about you
				</div>
			<% else %>
				<div class="profile_feed_header">
					Write a truth about <%= @user.username %>
				</div>
			<% end %>
			<% unless @user == current_user %>
				<div class="micropost_form_container">
					<%= render 'microposts/form' %>
				</div>
				<div id="loading-animation">
					<div id="circleG">
						<div id="circleG_1" class="circleG"></div>
						<div id="circleG_2" class="circleG"></div>
						<div id="circleG_3" class="circleG"></div>
					</div>
				</div>
			<% end %>
		</div>
		<table class="microposts" id="posts_table">
			<% if @microposts.empty? %>
					<td class="profile_noshow">

						<div class="profile_noshow_content">
							You dont have any truths yet. Find your friends and post truths about them. Then follow them to see what theyre sharing.
						</div>

						<% end %>
					</div>
  		<% else %>
				<%= render @microposts  %>
			<% end %>
		</table>
		<% if @microposts.total_pages > 1 %>
			<div class="load_more_container">
  			<%= link_to "Load more", "#", :id=>"load-more" %>
  			<div id="pages_loading">
  				<div id="circleG">
						<div id="circleG_1" class="circleG"></div>
						<div id="circleG_2" class="circleG"></div>
						<div id="circleG_3" class="circleG"></div>
					</div>
  			</div>
  		</div>
		<% end %>
	</td>
</table>
