<%= content_for :head do %>
<script type="text/javascript">
  $(function(){
    $('#counter').jqEasyCounter({
		'maxChars': 180,
	    'maxCharsWarning': 165,
	    'msgFontSize': '15px',
	    'msgFontColor': 'white',
	    'msgFontFamily': 'helvetica',
	    'msgTextAlign': 'left',
	    'msgWarningColor': 'red',
	    'msgAppendMethod': 'insertAfter'
      });
  });
</script>
<% end %>
<div class="profile_gravatar">	
	
</div>
<div class="name_container">
	
	<%= render_user_avatar(@user, :small) %>
	<div class="profile_name"> <%= @user.username %> </div>
	<strong>Truths shared:</strong> <%= @user.microposts.count %> <br/>
	<%= @user.blurb %>
</div>
<% if current_user %>
<div class="profile_follow"><%= render_follow_links(@user) %></div>
<% end %>



<%= image_tag "truth-is.png", :class => "truth-is" %>

<div class="truthform_place">
<%= render 'microposts/form' %>
</div>
<strong>Following (<%= @user.following.count %>):</strong>
 <% unless @following.empty? %>
    <% @following.each do |user| %>
	      <%= render_user_avatar(user, :thumb) %>
    <% end %>
  <% end %>

<strong>followers (<%= @user.followers.count %>):</strong> 
<% unless @followers.empty? %>
    <% @followers.each do |user| %>
	      <%= render_user_avatar(user, :thumb) %>
    <% end %>
  <% end %>

<table class="microposts" summary="User microposts">
	<%= render @microposts  %>
</table>
<%= will_paginate @microposts %>