<% unless fbfeed_item.user.authentications.empty? %>
<tr>
  <td class="fb_feed_item">
    <div class="fb_feed_users">
	    <% if fbfeed_item.try(:anon?) %>
	      <%= image_tag("genericpic-tiny.jpg") %> Someone >
	    <% else %>
	      <%= render_user_avatar(fbfeed_item.user, :tiny) %> <%= link_to fbfeed_item.user.username, fbfeed_item.user.username %> >
	    <% end %>
      <%= render_user_avatar(fbfeed_item.target_user, :tiny) %>
      <%= link_to fbfeed_item.target_user.username, fbfeed_item.target_user.username %>:
    </div>
    <div class="fb_feed_content"> 
      <%= fbfeed_item.content %>
    </div>
  </td>
</tr>
<% end %>