<tr>
  <td class="micropost">
    <span class="micropost_pic">
	    <% if feed_item.try(:anon?) %>
	      <%= image_tag("genericpic-thumb.jpg") %>
	    <% else %>
	      <%= render_user_avatar(feed_item.user, :thumb) %>
	    <% end %>
    </span>
    <span class="micropost_header">
      <% if feed_item.try(:anon?) %>
        Someone shared with <%= feed_item.target_user.username%>
      <% else %>
        <%= render_feed_stamp(feed_item) %>
      <% end %>
    </span>
    <span class="micropost_time">
      <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
      <br/>
    <span class="micropost_content"> 
      <%= feed_item.content %>
    </span>
  </td>
  <% if current_user = (feed_item.user) %>
    <td> 
      <div class="delete_link_place">   
        <%= render_micropost_delete(feed_item) %>
      </div>
    </td>
  <% end %>
</tr>
