<tr>
  <td class="gravatar">

    <% if globalfeed_item.user.photo.exists?%>    
		<%= link_to image_tag(globalfeed_item.user.photo.url(:thumb)), globalfeed_item.user %>
		<% else %>
				<%= image_tag "genericpic-thumb.jpg" %>
		<% end %>

  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to globalfeed_item.user.username, globalfeed_item.user %>
    </span>
    <span class="content"><%= globalfeed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(globalfeed_item.created_at) %> ago.
    </span>
  </td>
</tr>