  <div class="top_truth_post">
    <div class="top_truth_avatar">
    <% if top_truths.try(:anon?) %>
      <%= image_tag("genericpic-tiny.jpg") %> 
    <% else %>
      <%= render_user_avatar(top_truths.user, :tiny) %>
    <% end %>
    </div>
    <div class="top_truth_author">
      <% if top_truths.try(:anon?) %>
        Anonymous
      <% else %>
        <%= link_to top_truths.user.username, top_truths.user, :style=>"color:#56A8CE;" %>
      <% end %>
    </div>
    <div class="top_truth_content">
      truth is <%= top_truths.content %>
    </div>
    <div class="top_truth_stat">
      <%= pluralize(top_truths.ratings.trues.count, "Like") %> · <%= pluralize(top_truths.ratings.falses.count, "Dislike") %>
    </div>
  </div>