<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
	$(function(){
		$("#invite_fb_friends").click(function() {
		FB.init({ 
		  appId:'186414394781001', 
		  channelUrl : '//www.truthpage.me/channel.html', // Channel File
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		});
		FB.ui( {
			method: 'feed',
			message: 'message here',
			name: 'Post a truth about me on truthpage.me!',
			caption: 'truthpage.me/<%= current_user.username %>',
			link: '<%= root_url%><%= current_user.username %>',
			picture: '<%= root_url%>images/wallpost_image.jpg',
			actions: [
				{ name: 'truthpage.me', link: 'http://www.truthpage.me' }
					],
				user_message_prompt: 'Share a truth status'
				},
			function(response) {
				if (response && response.post_id) {
				} else {
				}
				}
			);
		});
	});
</script>
<script type="text/javascript">

function tweetpopup() {

window.open( "http://twitter.com/share?url=<%= root_url%><%= current_user.username %>&text=send%20me%20a%20truth%20on%20truthpage.me%20http://truthpage.me/<%= current_user.username %>&count=none/", "tweet", "height=450,width=550,resizable=1" ) 

}

</script>
		  	
<table class="front" summary="for authenticated users">
  <tr>
    <td class="main">
    	<table class="dash_container">
				<td class="dash_avatar">
					<%= render_user_avatar(current_user, :small) %>
				</td>
				<td class="share_section">
					<div class="profile_sharelink">
						Share your profile
					</div>
					<div class="profile_link">
		 				truthpage.me/<%= current_user.username %>
					</div>
						<br/>
					<div id="invite_friends">
		    		<%= link_to "Share on Facebook", "#", :id => "invite_fb_friends", :class => 'facebook_share', :style=>'color:#FFFFFF;' %>
					
						<a href="http://twitter.com/share?url=url_you_wish_the_tweet_to_link_back_to&text=the%20text%20you%20wish%20the%20tweet%20to%20say&count=none/" class="custom-tweet-button" target="_blank" onClick="tweetpopup(); return false;" rel="nofollow" style="color:#FFFFFF;">Share on Twitter</a>
					</div>
				</td>
			</table>

			<div class="dash_column">
				<div class="fb_feed_friends">
					Friends on truthpage.me
				</div>
				<% unless current_user.authentications.empty? %>
					<% if @registered_friends.empty? %>
						<div class="fb_friends_noshow">
							None of your Facebook friends have a truthpage yet...
						</div>
					<% else %>
						<div class="fbfriends_box">
  						<% @registered_friends.each do |user| %>
  							<div class="fbfriend_block">
      						<%= link_to render_user_avatar(user, :thumb), user.username %>
      						<div class="fbfriend_username"><%= link_to user.username, user.username %></div>
  							</div>
  						<% end %>
						</div>
					<% end %>
				<% else %>
					<div class="fb_friends_noshow_fb">
				  	<%= render :partial=>"authentications/services" %>
				  </div>
				  <div class="fb_friends_noshow">
						Connect with Facebook to see your friends on truthpage!
					</div>
				<% end %>
			</div>
      <div class="dashfeed_title">
        People you're following
      </div>
			<div class="dashfeed_content">
				<%= render 'shared/feed' %>
			</div>
    </td>
  </tr>
</table>
