<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
	$(function(){
		$("#invite_fb_friends").click(function() {
		FB.init({ 
		  appId:'186414394781001', 
		  channelUrl : '//www.truthpage.me/channel.html', // Channel File
			status     : true, // check login status
			cookie     : true, // enable cookies to allow the server to access the session
			xfbml      : true  // parse XFBML
		});
		FB.ui( {
			method: 'feed',
			message: 'message here',
			name: 'truth is?',
			caption: 'leave me a "truth is" on truthpage.me!',
			link: '<%= user_url(current_user) %>',
			picture: '<%= root_url%>images/wallpost_image.jpg',
			actions: [
				{ name: 'truthpage.me', link: 'http://www.truthpage.me' }
					],
				user_message_prompt: 'Share a truth status'
				},
			function(response) {
				if (response && response.post_id) {
				} else {
				}
				}
			);
		});
	});
</script>
		  	
<table class="front" summary="for authenticated users">
  <tr>
    <td class="main">
    	<table class="dash_container">
				<td class="dash_avatar">
					<%= render_user_avatar(current_user, :small) %>
				</td>
				<td class="share_section">
					<div class="profile_sharelink">
						Share your profile
					</div>
					<div class="profile_link">
		 				http://truthpage.me/<%= current_user.username %>
					</div>
						<br/>
					<div id="invite_friends">
						
		    		<%= link_to "Share on Facebook", "#", :id => "invite_fb_friends", :class => 'facebook_share', :style=>'color:#FFFFFF;' %>
			
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://truthpage.me" data-text="Join truthpage.me and share the truth with your friends" data-size="large" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
						</script>
					</div>
				</td>
			</table>

			<div class="dash_column">
				<div class="fb_feed_friends">
					Friends on truthpage
				</div>
				<% unless current_user.authentications.empty? %>
					<% if @registered_friends.empty? %>
						None of your Facebook friends have a truthpage yet...
					<% else %>
						<div class="fbfriends_box">
  						<% @registered_friends.each do |user| %>
  							<li>
      						<%= link_to render_user_avatar(user, :tiny), user.username %>
      						<%= link_to user.username, user.username, :class => 'followlist_name' %>
  							</li>
  						<% end %>
						</div>
					<% end %>
				<% else %>
				  <%= render :partial=>"authentications/services" %>
					Connect with Facebook to see your friends on truthpage!
				<% end %>
			</div>
      <div class="dashfeed_title">
        Truth Feed
      </div>
			<div class="dashfeed_content">
				<%= render 'shared/feed' %>
			</div>
    </td>
  </tr>
</table>
