  <%= content_for :head do %>
  <script type="text/javascript">
    $(function(){
      $('#vertical-ticker').totemticker({
		    row_height  :   '55px',
        next        :   '#ticker-next',
        previous    :   '#ticker-previous',
        stop        :   '#stop',
		start       :   '#start',
		direction   :   'up',
		speed       :   1000,
		interval    :   5000
        });
    });
  </script>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186414394781001";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="header_box">
  	<h1>Get a truth about yourself, from your friends.</h1>
  	<div class="header_body">
      truthpage.me makes it fun and easy to share truths with your friends.
      <br/> 
      rate your friends' truths. see how accurate their statements really are.
    </div>
</div>

<div class="ticker_header">
  truths being shared on truthpage.me
</div>
	
<ul id="vertical-ticker" style="overflow-x: hidden; overflow-y: hidden; ">
  <% for mp in Micropost.all.take(50) do %>  
    <li><%= render :partial=>"microposts/ticker_micropost", :locals=>{:micropost=>mp} %></li>
  <% end %>
</ul>

<div class="home_signup_box">
  <h1>Sign up</h1>
  <%= render :partial=>"authentications/services" %>
</div>

<div class="home_facepile">
  <div class="home_facepile_box">
    <h1>Recently joined</h1>
    <% @faces.each do |user| %>
      <% if user.photo.exists? %>
      <div class="fbfriend_block">
        <%= link_to render_user_avatar(user, :thumb), user.username %>
        <div class="fbfriend_username"><%= link_to user.username, user.username %></div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>



<div class="fblike">
  <g:plusone annotation="inline">
  </g:plusone>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://truthpage.me" data-text="Join truthpage.me and share the truth with your friends" data-hashtags="truthpage.me">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>

  <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>

  <div class="fb-like" data-href="http://truthpage.me" data-send="true" data-width="450" data-show-faces="false" data-action="recommend" data-font="tahoma"> 
  </div>
</div>
