<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
          $('#globalfeed').vTicker({ 
            // http://plugins.jquery.com/project/vTicker
            speed: 700,
            pause: 5000,
            animation: 'fade',
            mousePause: true,
            showItems: 1,
            direction: 'down',
            height: 411
        });
    $("gravatar").each(function(){crop($(this),75,50);});
    });
  </script>

<% end %>


<% if current_user %>
  <table class="front" summary="signed in">
    <tr>
      <td class="main">
        <div class="welcome_line">Dashboard</div>
		    <h1 class="micropost">"posts" shared by you and your friends</h1>
        
		    <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
		    <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

  <%= link_to "Sign in", signin_url %>

  <table class="front" summary="feed">
    <tr>
      <td class="main">
          <h1 class="micropost">Live post feed here</h1>
          <div class="globalfeed">
          <%= render 'shared/globalfeed' %>
         </div>
      </td>
    </tr>
  </table>
   
<% end %>