<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186414394781001";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script 
type="text/javascript" src="http://platform.tumblr.com/v1/share.js">
</script>



<% if current_user %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <div class="welcome_line"></div>

		<div class="micropost">
		<div class="dashfeed_header">Truth feed </div>
			</div>
        <div class="microfeed_spacer">...</div>
		<%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
       <div class="dash_user"><%= current_user.username %></div> 
		<div class="dash_gravatar">
			<% if current_user.photo.exists?%>
				<%= image_tag current_user.photo.url(:small) %>
			<% else %>
				<%= image_tag "genericpic.jpg" %>
			<% end %>
		</div>
		<%= render 'shared/stats' %>
		
		
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://truthpage.me" data-text="truth is? leave one on my truthpage!" data-size="large" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
		
		<div class="micro_header"><strong>Recently shared:</strong></div>
		<div class="microfeed_spacer">...</div>
		<%= render 'shared/microfeed' %>
          
        <div class="stat_spacer">You've shared <%= pluralize(current_user.microposts.count, "truth") %> so far!</div>
      	
			
</td>
    </tr>
  </table>

<% else %>


<div class="welcome_line">
	Welcome to truthpage.me, a fun and simple way to share truths with your friends!
</div>
	
  
<div class="signup_link">Don't have a truthpage yet? <%= link_to "get one here.", signup_path %></div> 

<%= render :partial=>'authentications/services' %>

<table class="front" summary="feed">
  <tr>
    <td class="main">
      <h1 class="micropost">Live truth feed</h1>
      <div class="globalfeed">
        <%= render 'shared/globalfeed' %>
      </div>
    </td>
  </tr>
</table>

   
<script type="text/javascript">
$(document).ready(function() {
      $('#globalfeed').vTicker({ 
        // http://plugins.jquery.com/project/vTicker
        speed: 700,
        pause: 5000,
        animation: 'fade',
        mousePause: true,
        showItems: 1,
        direction: 'down',
        height: 411
    });

});

function init() {
     $("gravatar").each(function(){
        crop($(this),75,50);
     });
}
window.onload = init; 
</script>




<div class="fblike">

	<g:plusone annotation="inline"></g:plusone>
	

	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://truthpage.me" data-text="Check out truthpage.me and see how easy it is to get a truth from your friends!" data-hashtags="truthpage.me">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>

<div class="fb-like" data-href="http://truthpage.me" data-send="true" data-width="450" data-show-faces="false" data-action="recommend" data-font="tahoma"> </div>


 
</div>
<% end %>