<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
      body {
        background: url('http://truthpage.me/images/mailer_background.jpg');
        background-repeat: repeat-x;
        background-color:#FFF;
      }
      h1 { 
        margin-top:-3px;
        margin-left:5px;
        font-size: 30pt;
        font-family: book antiqua; 
        color:#2A4668;
        text-decoration:none;
      }
      h2 {
        margin-top:-10px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight:500;
        font-size:18pt;
        line-height: 1;
        letter-spacing: -1px;
        color:#2764A2;
      }
      ul { 
        list-style: none; 
      }
      div.container {
        font-size:10pt;
        padding-top:10px;
        margin-left:10px;
        font-family: Helvetica, Arial, sans-serif;
      }
      div.mailer_header {
        margin-left:55px;
        margin-top:-40px;
      }
      div.post_content {
        font-size:12pt;
        background-color:#E8EFFF;
        width:95%;
        padding:10px;
        margin-left:5px;
        margin-top:10px;
      }
     span.truth-label {
        color:#999;
      }
    </style>
  </head>
  <body>
    <h1> truthpage.me </h1>
    <div class="container"> 
     <h2>
      <% if @micropost.try(:anon?) %>
        <%= image_tag "http://truthpage.me/images/genericpic-thumb.jpg" %> 
        <div class="mailer_header">
          Someone anonymously sent you a new truth.
        </div>
      <% else %>
        <% if @micropost.user.photo.exists? %>
          <%= image_tag @micropost.user.photo.url(:thumb) %>
        <% else %>
          <%= image_tag "http://truthpage.me/images/genericpic-thumb.jpg" %>
        <% end %>  
        <div class="mailer_header">
          <%= link_to "#{@mailer_sender}", @mailer_sender_url %> sent you a new truth. 
        </div>
      <% end %>
     </h2>
      <p>
        <div class="post_content">
          <span class="truth-label">truth is </span>
           <%= @micropost.content %>
        </div>
      </p>
      <p>
        To comment on or rate this truth visit your <%= link_to "profile", @url %>.<br/>
   
        To change your email notification settings <%= link_to "click here", @settings_url %>.
      </p>
      <p>
        - The truthpage team
      </p>
    </div>
  </body>
</html>