
<%= form_for @micropost do |f| %>
  
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field" >
		<%= f.text_area :content, :maxlength=>"180", :id =>"counter" %>
  </div>
  <div class="field">
		<%= f.hidden_field :belongs_to_id, :value => @user.id %>
  </div>
	<div class="anon_button">
		<%= f.check_box :anon, {}, true, false %>
		<%= f.label "share anonymously" %>
	</div>
  <div class ="share_placement">
  	<% if current_user %>
  		<%= f.submit 'Send', :class => 'submitpost'%>
  	<% else %>
  		<%= link_to 'Send', login_path, :id => 'authenticate', :class => 'submitpost' %>
  	<% end %>
  </div>
<% end %>

