
<%= form_for @micropost do |f| %>
  
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field" >
		<%= f.text_area :content, :maxlength=>"180", :id =>"counter" %>
  </div>
  <div class="field">
		<%= f.hidden_field :belongs_to_id, :value => @user.id %>
  </div>
	<div class="anon_button">
		<%= f.check_box :anon, {}, true, false %>
		<%= f.label "share anonymously" %>
	</div>

	<% if current_user %>
		<div class ="share_placement">
			<%= f.submit '', :class => 'submitpost'%>
		</div>
	<% else %>
		<div class ="share_placement">
			<%= link_to "Sign in to post!", privacy_path, :class => 'iframe' %>
		</div>
	<% end %>
<% end %>

