<tr>
  <td class="micropost">
    <div class="micropost_header">
      <% if micropost.try(:anon?) %>
        <div class="micropost_userpic">
          <%= image_tag("genericpic-tiny.jpg") %> 
        </div>
        <div class="micropost_username">
          Anonymous
          <div class="micropost_timestamp">
            <%= time_ago_in_words(micropost.created_at) %> ago.
            <% if current_user.eql?(micropost.user) %>
              <%= render_micropost_delete(micropost) %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="micropost_userpic">
          <%= render_user_avatar(micropost.user, :tiny) %>
        </div>
        <div class="micropost_username">
          <%= link_to micropost.user.username, micropost.user %>
          <div class="micropost_timestamp">
            <%= time_ago_in_words(micropost.created_at) %> ago.
            <% if current_user.eql?(micropost.user) %>
              <%= render_micropost_delete(micropost) %>
            <% end %>
          </div>
        </div>  
      <% end %>
    </div>
      <br/>
    <div class="micropost_content"> 
      truth is <%= micropost.content %>
    </div>
    <% if current_user %>
      <div class="micropost_true">
        <%= form_for @rating do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.hidden_field :micropost_id, :value => micropost.id %>
          <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
          <%= f.hidden_field :rater_id, :value => current_user.id %>
          <%= f.hidden_field :rating, :value => "true" %>
          <% if micropost.rateable_by_user?(current_user) %> 
            <%= f.submit 'true', :class => 'micropost_true_button'%>
          <% else %>
            <span class="fake_rating_button">true</span>
          <% end %>
          <%= render_true_ratings(micropost)  %>
        <% end %>
      </div>
      <div class="micropost_false">
        <%= form_for @rating do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.hidden_field :micropost_id, :value => micropost.id %>
          <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
          <%= f.hidden_field :rater_id, :value => current_user.id %>
          <%= f.hidden_field :rating, :value => "false" %>
          <% if micropost.rateable_by_user?(current_user) %> 
            <%= f.submit 'false', :class => 'micropost_false_button'%> 
          <% else %>
            <span class="fake_rating_button">false</span>
          <% end %>
          <%= render_false_ratings(micropost) %>
        <% end %>
      </div>


      <%= link_to "Comment (#{micropost.comments.count})", "#", :class => "open_comments", :style=>'color:#999999;' %>
      <div class="post_comments"> 
        <%= render :partial=> 'comments/new_comment', :locals=>{:micropost=>micropost} %>
        <%= render micropost.comments %>
      </div>
      

      <div class="micropost_accuracy">
        <% unless micropost.ratings.trues.empty? %>
          <% if micropost.truth_percentage.to_i < 34 %>
            <%= number_to_percentage(micropost.truth_percentage, :precision => 0) %> true
          <% elsif micropost.truth_percentage < 67 %>
            <span class="yellow_percentage"><%= number_to_percentage(micropost.truth_percentage, :precision => 0) %> true</span>
          <% else %>
            <span class="green_percentage"><%= number_to_percentage(micropost.truth_percentage, :precision => 0) %> true</span>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="unauth_spacer"></div>
    <% end %>

  </td>
</tr>


