<tr>
  <td class="gravatar">
    <%= render_user_avatar(micropost.user, :thumb) %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to micropost.user.username, micropost.user %> said:
    </span>
    <span class="content"> <%= micropost.content %></span>
    <span class="timestamp">
      Shared <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </td>
  <% if current_user = (micropost.user) %>
    <td> 
      <div class="delete_link_place">   
        <%= render_micropost_delete(micropost) %>
      </div>
    </td>
  <% end %>
</tr>