<tr>
  <td class="micropost">
    <div class="micropost_header">
      <% if micropost.try(:anon?) %>
        <div class="micropost_userpic">
          <%= image_tag("genericpic-tiny.jpg") %> 
        </div>
        <div class="micropost_username">
          Anonymous
          <div class="micropost_timestamp">
            <%= time_ago_in_words(micropost.created_at) %> ago 
            <%= render_micropost_delete(micropost) %>
          </div>
        </div>
      <% else %>
        <div class="micropost_userpic">
          <%= render_user_avatar(micropost.user, :tiny) %>
        </div>
        <div class="micropost_username">
          <%= link_to micropost.user.username, micropost.user %>
          <div class="micropost_timestamp">
            <%= time_ago_in_words(micropost.created_at) %> ago
            <% if current_user.eql?(micropost.target_user) %>
              <%= render_micropost_delete(micropost) %>
            <% end %>
          </div>
        </div>  
      <% end %>
    </div>
      <br/>
    <div class="micropost_content"> 
      truth is <%= micropost.content %>
    </div>
    <% if current_user %>
      <div class="micropost_true">
        <%= form_for @rating do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.hidden_field :micropost_id, :value => micropost.id %>
          <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
          <%= f.hidden_field :rater_id, :value => current_user.id %>
          <%= f.hidden_field :micropost_content, :value => micropost.content %>
          <%= f.hidden_field :rating, :value => "true" %>
          <% if micropost.rateable_by_user?(current_user) %> 
            <%= f.submit 'Like', :class => 'micropost_true_button'%>
          <% else %>
            <span class="fake_rating_button">Like</span>
          <% end %>
          <% unless micropost.ratings.trues.empty? %>
            <span class="true_counter"> <%= render_true_ratings(micropost) %></span>
          <% else %>
            <span class="counter_divider"> ·</span>
          <% end %>
        <% end %>
      </div>
      <div class="micropost_false">
        <%= form_for @rating do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.hidden_field :micropost_id, :value => micropost.id %>
          <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
          <%= f.hidden_field :rater_id, :value => current_user.id %>
          <%= f.hidden_field :micropost_content, :value => micropost.content %>
          <%= f.hidden_field :rating, :value => "false" %>
          <% if micropost.rateable_by_user?(current_user) %> 
            <%= f.submit 'Dislike', :class => 'micropost_false_button'%> 
          <% else %>
            <span class="fake_rating_button">Dislike</span>
          <% end %>
          <% unless micropost.ratings.falses.empty? %>
            <span class="false_counter"> <%= render_false_ratings(micropost) %></span>
          <% end %>
        <% end %>
      </div>
      <% unless micropost.comments.empty? %>
        <span class="comment_counter"> <%= micropost.comments.count %> </span>
      <% end %>
      <%= link_to "Comment", "#", :class => "open_comments", :style=>'color:#216389;;' %>
      <div class="post_comments"> 
        <%= render :partial=> 'comments/new_comment', :locals=>{:micropost=>micropost} %>
        <%= render micropost.comments %>
      </div>
    <% else %>
      <div class="unauth_spacer"></div>
    <% end %>

  </td>
</tr>


