<tr>
  <td class="gravatar">
    <% if micropost.try(:anon?) %>
	<%= image_tag("genericpic-thumb.jpg") %>
	<% else %>
	 <%= render_user_avatar(micropost.user, :thumb) %>
	<% end %>
  </td>
  <td class="micropost">
    <span class="user">
	 <% if micropost.try(:anon?) %>
	  anonymous said:
	 <% else %>
      <%= link_to micropost.user.username, micropost.user %> said:
	 <% end %>
    </span>
    <span class="content"> <%= micropost.content %></span>
    <span class="timestamp">
      Shared <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
  </td>
  <% if current_user = (micropost.user) %>
    <td> 
      <div class="delete_link_place">   
        <%= render_micropost_delete(micropost) %>
      </div>
    </td>
  <% end %>
</tr>