<tr>
  <td class="micropost">
	  <span class="micropost_pic">
	    <% if micropost.try(:anon?) %>
		    <%= image_tag("genericpic-thumb.jpg") %>
		  <% else %>
		    <%= render_user_avatar(micropost.user, :thumb) %>
		  <% end %>
		</span>
    <span class="micropost_header">
	    <% if micropost.try(:anon?) %>
	      Someone said:
	    <% else %>
        <%= link_to micropost.user.username, micropost.user.username %> said:
	    <% end %>
    </span>
	  <span class="micropost_time">
      <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
	    <br/>
    <span class="micropost_content"> <%= micropost.content %></span>
    
    <%= form_for @rating do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      <%= f.hidden_field :post_id, :value => micropost.id %>
      <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
      <%= f.hidden_field :rater_id, :value => current_user.id %>
      <%= f.hidden_field :rating, :value => "true" %>
      <%= f.submit 'true', :class => 'rate'%>
    <% end %>

      (<%= @true_ratings.count %>)

    <%= form_for @rating do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      <%= f.hidden_field :post_id, :value => micropost.id %>
      <%= f.hidden_field :owner_id, :value => micropost.belongs_to_id %>
      <%= f.hidden_field :rater_id, :value => current_user.id %>
      <%= f.hidden_field :rating, :value => "false" %>
      <%= f.submit 'false', :class => 'rate'%> 
    <% end %>
  </td>
    <% if current_user = (micropost.user) %>
      <td> 
        <div class="delete_link_place">   
          <%= render_micropost_delete(micropost) %>
        </div>
      </td>
    <% end %>
</tr>