<tr>
  <td class="micropost">
	  <span class="micropost_pic">
			<% if micropost.try(:anon?) %>
				<%= image_tag("genericpic-thumb.jpg") %>
			<% else %>
		 		<%= render_user_avatar(micropost.user, :thumb) %>
			<% end %>
		</span>
    <span class="micropost_header">
	 		<% if micropost.try(:anon?) %>
	  		anonymously shared with <%= micropost.target_user.username%>
	 		<% else %>
      	<%= render_feed_stamp(micropost) %>
	 		<% end %>
    </span>
			<br/>
    <span class="micropost_content"> 
    	<%= micropost.content %>
    </span>
  </td>
  </tr>