<tr>
  <td class="micropost">
    <div class="micropost_header">
      <% if micropost.try(:anon?) %>
        <div class="micropost_userpic">
          <%= image_tag("genericpic-tiny.jpg") %> 
        </div>
        <div class="micropost_username">
          Anonymous  <span class="arrow-e2"></span>
          <%= render_user_avatar(micropost.target_user, :tiny) %>
          <%= link_to micropost.target_user.username, micropost.target_user %>       
        </div>
      <% else %>
        <div class="micropost_userpic">
          <%= render_user_avatar(micropost.user, :tiny) %>
        </div>
        <div class="micropost_username">
          <%= link_to micropost.user.username, micropost.user %>  <span class="arrow-e2"></span> 
          <%= render_user_avatar(micropost.target_user, :tiny) %>
          <%= link_to micropost.target_user.username, micropost.target_user %>
        </div>  
      <% end %>
    </div>
      <br/>
    <div class="ticker_content"> 
      <%= micropost.content %>
    </div>
    <div class="unauth_spacer"></div>
  </td>
</tr>