<%= will_paginate(@users) %>
<table>
  <thead>
     <tr>
      <th>email</th>
      <th>username</th>
      <th>admin</th>
      <th></th>
     <tr>
  </thead>
  <tbody>
    <% for user in @users %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.admin.to_yn %></td>
      <td><%= button_to "Delete", admin_user_path(user), :method=>:delete, :confirm=>"Are you sure?" if user.id != current_user.id %></td>
    <tr>
    <% end %>
  </tbody>
<table>
<%= will_paginate(@users) %>