<div class="header_bar">
  <div class="header_text">     
    <%= link_to "truthpage.me", root_path %>
  </div>     
   <%= image_tag "button.png", :class => "menu_class" %>
    <ul class="the_menu">
      <li><a href="#">A Website #1</a></li>
      <li><a href="#">A Website #2</a></li>
      <li><a href="#">A Link #1</a></li>
      <li><a href="#">A Link #2</a></li>
      <li><a href="#">A Website #3</a></li>
      <li><a href="#">A Website #4</a></li>
      <li><a href="#">A Link #3</a></li>
      <li><a href="#">A Link #4</a></li>
    </ul>
  <% if current_user %>
    <div class="welcome_user">
      <%= current_user.username %>
    </div>   
  <% end %>
  <nav class="round">
    <ul>
      <div class="headerlink_place">
        <% if current_user %>
          <li><%= link_to "Home", root_path, :class =>"footer_links" %></li> | 
          <li><%= link_to "Profile", user_path(current_user), :class =>"footer_links" %></li> |
          <li><%= link_to "Settings", edit_user_path(current_user), :class =>"footer_links" %></li> |
        <% end %>
        
        <% if current_user %> 
          <li><%= link_to "Signout", signout_path, :class =>"footer_links", :method => :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path, :class =>"footer_links" %></li> | 
          <li><%= link_to "Sign in", signin_path, :class =>"footer_links" %></li> | 
		      <li><%= link_to "Sign up", signup_path, :class =>"footer_links" %></li>
        <% end %>
      </div>
    </ul>
  </nav>
 
</div>

