
<header>
  <div class="header_text">     
    truthpage.me
  </div>     

  <% if current_user %>
    <div class="welcome_user">Welcome, <%= current_user.username %>!</div>   
  <% end %>
  <nav class="round">
    <ul>
      <div class="headerlink_place">
        <% if current_user %>
          <li><%= link_to "Home", root_path, :class =>"headerlink" %></li> | 
		  <li><%= link_to "Friends", "/users?utf8=✓&search=" , :class =>"headerlink"%></li> |
          <li><%= link_to "Profile", current_user, :class =>"headerlink" %></li> |
          <li><%= link_to "Settings", edit_user_path(current_user), :class =>"headerlink" %></li> |
        <% end %>

        <% if current_user %> 
          <li><%= link_to "Signout", signout_path, :class =>"headerlink", :method => :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path, :class =>"headerlink" %></li> | 
          <li><%= link_to "Sign in", signin_path, :class =>"headerlink" %></li> | <li><%= link_to "Sign up", signup_path, :class =>"headerlink" %></li>
        <% end %>
      </div>

    </ul>
  </nav>
</header>