<div class="header_bar">
<ul class="header_text">
  <li>
    <%= link_to "truthpage.me", root_path %>
  </li>
</ul>
  <nav class="round">
    <ul class="header_nav">
      <div class="headerlink_place">
        <% if current_user %>
          <li><%= link_to "Home", root_path, :class =>"footer_links" %></li> · 
          <li><%= link_to "Profile", user_path(current_user), :class =>"footer_links" %></li> ·
          <li><%= link_to "Settings", edit_user_path(current_user), :class =>"footer_links" %></li> ·
        <% end %>
        
        <% if current_user %> 
          <li><%= link_to "Signout", signout_path, :class =>"footer_links", :method => :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path, :class =>"footer_links" %></li> · 
          <li><%= link_to "Sign in", signin_path, :class =>"footer_links" %></li> · 
		      <li><%= link_to "Sign up", signup_path, :class =>"footer_links" %></li>
        <% end %>
      </div>
    </ul>
  </nav>
  <% if current_user %> 
  <div class="welcome_user">
        <%= current_user.username %>
      </div>
    <% if @notifications.empty? %>
      <% else %>
    <div class="notification_container">
      <div class="notification_bubble">
        <%= image_tag "button.png", :class => "menu_class" %>
        <div class="notification_counter">
          <%= @notifications.count %>
        </div>
      </div>
      <ul class="the_menu">
      <div class="menu_header">
        Notifications (<%= @notifications.count %>)
      </div>
        <li><%= render @notifications %></li>
      </ul>  
    </div>
    <% end %>
  <% end %>
</div>

