<script type="text/javascript">
  $(function(){
    $('#flash').delay(2000).fadeIn('normal', function() {
      $(this).delay(2000).fadeOut();
   });

    $("#signin").fancybox({
      'transitionIn'    :    'elastic',
      'transitionOut'    :    'elastic',
      'speedIn'        :    400,
      'speedOut'        :    200,
      'overlayShow'    :    true
    });

    $("#signup").fancybox({
      'transitionIn'    :    'elastic',
      'transitionOut'    :    'elastic',
      'speedIn'        :    400,
      'speedOut'        :    200,
      'overlayShow'    :    true
    });

    $('.noty_menu').click(function () {
      $('ul.the_menu').slideToggle('medium');
      return false;
    });

    $('body').click(function() {
      $('ul.the_menu').slideUp(150);
    });
  });
</script> 

<div class="header_bar">
<ul class="header_text">
  <li>
    <%= link_to "truthpage.me", root_path %>
  </li>
</ul>
  <nav class="round">
    <ul class="header_nav">
      <div class="headerlink_place">
        <% if current_user %>
          <li><%= link_to "Friends", root_url, :class =>"header_links" %></li> 
          <li><%= link_to "Profile", "#{ root_url }#{ current_user.username }" , :class =>"header_links" %></li> 
          <li><%= link_to "Settings", edit_user_path(current_user), :class =>"header_links" %></li> 
        <% end %>
        
        <% if current_user %> 
          <li><%= link_to "Sign out", signout_path, :class =>"header_links", :method => :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path, :class =>"header_links" %></li> 
		      <li><%= link_to "Sign up", newlogin_path, :id =>"signup", :class =>"header_links" %></li>
        <% end %>
      </div>
    </ul>
  </nav>
  <% if current_user %>
    <ul class="the_menu">
      <div class="menu_header">
        Notifications - <%= notifications.count %>
      </div>
      <li>
        <%= render notifications %>
      </li>
      <div class="notification_clear_all">
        <%= button_to "Clear all", clear_all_notifications_path, :method=>:delete, :class=>'notification_clear_all_button' %>
      </div>
    </ul> 
    <div class="welcome_user">
      <span class="welcome_user_text">
        <%= link_to "#{ current_user.username }", "#{ root_url }#{ current_user.username }", :style=>'color:#EEEEEE;' %>
      </span>
      <span class="welcome_user_avatar">
        <%= render_user_avatar(current_user, :tiny) %>
      </span>
    </div>
    <% unless notifications.empty? %> 
      <div class="bubble_placement">
        <%= link_to "#{ notifications.count}", "#", :class=> "noty_menu", :style=>'color:#FFFFFF;' %>
      </div>
    <% end %>
  <% end %>
  <% flash.each do |key, value| %>
    <div id="flash" class="<%= key %>"><%= value %></div>
  <% end %>
</div>

