<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "application"%>
    <%= stylesheet_link_tag "application", :media => "all" %>    
    <%= yield :head %>
  </head>
  <% unless @user_custom_background %>
    <body> 
  <% else %>
    <body style="background-image:url(<%= @user.background.url %>); background-repeat:repeat;">
  <% end %>
    <%= render 'layouts/header' unless @skip_render %>
    <%= render 'layouts/admin_header' if @render_admin_header %>
      <div class="container">
	      <section class="round">
	      <%= yield %>
	    </section>
      <%= render 'layouts/footer' unless @skip_render %>
    </div>
  </body>
</html>